[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{*.gant,*.groovy,*.gradle,*.gdsl,*.gy}]
indent_style=space
indent_size=2

[{*.kt,*.kts}]
indent_style=space
indent_size=2

