<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016 Duna Open Source Project
  ~ Ministério do Planejamento, Desenvolvimento de Gestão
  ~ República Federativa do Brasil
  ~
  ~ This file is part of the Duna Project.
  -->
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %-45logger{1.} %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="io.duna" level="TRACE"/>
        <Logger name="io.vertx" level="INFO"/>
        <Logger name="org.apache.ignite" level="INFO"/>
        <Logger name="vert.x-*" level="INFO"/>
    </Loggers>
</Configuration>
